[Unit]
Description=Shutdown Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python -u /usr/bin/shutdown_monitor.py
Restart=no
Environment="OPENCPN_PKILL_DELAY=2"
Environment="OPENCPN_USER=pi"

[Install]
WantedBy=multi-user.target